@import "globals";

/* Avatar sizes */
img {
	max-width: 100%;
	height: auto;

	@mixin set-avatar-size($size, $valign) {
		vertical-align: $valign;
		max-width: $size;
		width: auto;
		width: $size;
		max-height: $size;
		height: auto;
		height: $size;
	}

	.tiny-avatar & {
		@include set-avatar-size($tiny-avatar-size, middle);
	}

	.small-avatar & {
		@include set-avatar-size($small-avatar-size, top);
	}

	.medium-avatar & {
		@include set-avatar-size($medium-avatar-size, top);
	}

	.post &,
	.attach-image & {
		max-width: 100%;
		height: auto;
	}

	.attach-image & {
		width: 99%;
	}

	.feeds & {
		max-width: 100%;
		margin: 0 0.25rem;
	}
}

/* Block images */
.img-ui, .postimage {
	display: block;
	margin: 0 0 0.25rem 0;

	.small-img & img {
		width: $small-image-size;
	}

	.medium-img & img {
		width: $medium-image-size;
	}

	.large-img & {
		width: $large-image-size;
	}

	.fullwidth-img & {
		width: 100%;
		height: auto;
	}

	.landscape-img & {
		width: 100%;
		height: 4.5rem;
		text-align: center;
		margin: 0;

		img {
			width: 100%;
			margin: -50% auto;
			vertical-align: middle;
		}
	}

	.img-align-left & img {
		float: left;
		margin: 0 1rem 0 0;
	}

	.img-align-right & {
		float: right;
		margin: 0 0 0 1rem;
	}

	.img-border & img,
	.img-border-padding & img {
		border: 1px solid $border-color;
	}

	.img-border-padding & img {
		padding: 4px;
	}

	.img-circle & img {
		border-radius: 50%;
	}
}
